---
import Layout from '../layouts/Layout.astro';
import SectionHeading from '../components/SectionHeading.astro';
import Experience from '../components/Experience.astro';
import EthLogo from '../assets/eth-diamond-(purple).svg';
---

<Layout>
	<SectionHeading>EXPERIENCE</SectionHeading>

	<!-- TODO: add crl synergy experience -->

	<Experience logo={EthLogo} job_title="Research Assistant, DeFi Reseach", company="Professor Alfred Lehar - UofC", duration="JAN 2022 - JUN 2022", stack={["julia","postgres"]}>
		<li>Designed and implemented a Julia-based block processing system to analyze Ethereum execution traces via Go Ethereum's APIs, detecting internal ETH transfers to block fee recipients.</li>
		<li>Integrated trace data with PostgreSQL blockchain datasets and structured transaction- and transfer-level storage with transactional bulk inserts.</li>
		<li>Built a concurrent block-scanning pipeline with structured logging and retry/fallback handling to reliably process large historical block ranges despite RPC and parsing failures.</li>
	</Experience>

</Layout>