<div class="w-full pb-[2%]">
    <div class="w-fit mx-auto mb-4 font-semibold">
        <button class="p-2 cursor-pointer hover:underline" onclick="window.scroll({top: 0, left: 0, behavior: 'smooth'})">
            Back to top
        </button>  
    </div>
    <hr class="text-neutral-300"/>
    <div class="mt-2 ml-4 text-neutral-300">
         © 2026 Jan Jelinek
    </div>
</div>