---
const { stack=[] } = Astro.props;

let colors = new Map(); // lang: text-color, border-color, bg-color
colors.set("azure", ["#2DAEE9", "#0079D5", "#022A4F"]);
colors.set("c#", ["#E36BD7", "#823085", "#3A1642"]);
colors.set("django", ["#4AC797", "#168A5D", "#093624"]);
colors.set("asp.net", ["#9780E5", "#715FAB", "#2C2542"]);
colors.set("javascript", ["#D9C616", "#82760D", "#403A06"]);
colors.set("julia", ["#BC6FE0", "#9558B2", "#2F1C38"]);
colors.set("next.js", ["#EEE", "#888", "#111"]);
colors.set("mongodb", ["#00CC56", "#008036", "#003B19"]);
colors.set("postgres", ["#50A1E3", "#336791", "#122433"]);
colors.set("python", ["#E8C23C", "#8A7223", "#403510"]);
colors.set("react", ["#58C4DC", "#459AAD", "#1C3D45"]);
colors.set("sqlite", ["#008ED1", "#00618F", "#002638"]);
---

<div class="flex flex-row gap-[0.39rem] mt-3">
    {stack.length > 0 && stack.map((lang: string) => {
        const c = colors.get(lang) ?? ["#fff", "#666", "#222"];
        return (
            <div class="w-fit px-[0.3rem] pb-1 pt-[0.1rem] border rounded-sm text-sm leading-none"
                 style={`color:${c[0]}; border-color:${c[1]}; background-color:${c[2]};`}>{lang}</div>
        );
    })}
</div>